.SimulationInput {
  &-heroImage {
    background-size: cover;
    filter: brightness(0.7);

    &:first-child {
      background-image: url("@/assets/hero1.webp");
    }

    &:last-child {
      background-image: url("@/assets/hero2.webp");
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      border: 0.4rem solid;
      border-style: dotted;
      border-radius: 999px;
      animation-name: spin;
      animation-duration: 30000ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }

    &::before {
      top: -10px;
      left: -10px;
      right: -10px;
      bottom: -10px;
      border-color: #ffbf00;
    }

    &::after {
      top: -20px;
      left: -20px;
      right: -20px;
      bottom: -20px;
      border-color: #399918;
      animation-direction: reverse;
    }
  }

  select {
    padding: 0.67rem;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
